* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-light-blue {
  color: #626E8A;
  font-size: 10px;
}

.my-fs-10 {
  font-size: 10px;
}

.color-light {
  color: #737e8bd6;
}


.row {
  padding-left: 0px;
  padding-right: 0px;

}

.col-4 img {
  width: 100%;
}